* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

nav {
  background: goldenrod;
  height: 80px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 50px;
}
nav ul li {
  display: inline-flex;
  line-height: 30%;
  margin: 10px 5px;
  color: white;
}
.nava {
  color: white;
  font-size: 17px;
  padding: 20px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
body {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
}
main {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.Sedan {
  background-color: hsl(31, 77%, 52%);
  width: 33.3%;
  color: white;
  padding: 20px;
  height: 60%;
}
.suvs {
  background-color: hsl(184, 100%, 22%);
  width: 33.3%;
  color: white;
  padding: 20px;
  height: 60%;
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  width: 33.3%;
  color: white;
  padding: 20px;
  height: 60%;
}
h2 {
  color: white;
  margin: 10px;
}
p {
  padding: 10px;
}
.img {
  margin: 20px;
}
.sedbutton {
  margin: 30px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  color: hsl(31, 77%, 52%);
}
.suvbutton {
  margin: 30px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  color: hsl(184, 100%, 22%);
}
.luxbutton {
  margin: 30px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  color: hsl(179, 100%, 13%);
}
